body{
	background-color: black;
}
h1{
	color: white;
	text-align: center;
}
p1{
	color: white;
	text-align: center;
	font-size: 40px;
}
h2{
	color: white;
	font-size: 60px;
}
p2{
	color: white;
	font-size: 40px;
	font-family: 'Indie Flower', cursive;
}
h3{
	color: white;
	font-size: 60px;
}
p3{
	color: white;
	font-size: 40px;
}